body{
    background-color: #666666;
    margin: 0;
    height: 100vh;
}


nav{
    background-color: #FA9A50;
    height: 50px;
    font-size: 1.3em;
    width: 100%;
    height: 5dvh;

    box-shadow: 1px 2px 5px 0px #0000008a;
    border-radius: 5px;

    display: flex;
    align-items:center;
    justify-content:center; 
}
nav > a{
    margin:40px;
    padding: 10px;
    min-width: 6%;

    background-color:  #FA9A50;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000;
    border-radius: 10px;
}
main{
    background-color: #745e4c;
    border-radius: 10px;
    margin: auto;

    width: 191dvh;
    height: 47dvw;
    display: block;

    max-width:100%;
    min-width: 30%;
    min-height:90%;
    box-shadow: -3px 4px 20px 0px rgba(0, 0, 0, 0.521);

}
    
main > .Criador{
    background-color: #A5856C;
    
    width:  55dvw;
    height: 80dvh;
    margin: 1%;
    
    border-radius: 30px;
    
    position: fixed;
    top: 10%;
    left: 1%;
    min-width: 10%;

}
.Criador > .Input-balão{
    margin: 10px;
    position: relative;
}
.Input-balão label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    color:#504741;
    padding: 0 5px ;
    pointer-events: none;
    transition: .3s;
}
.Input-balão input{
    width: 300px;
    height: 30px;
    font-size: 15px;
    padding: 0px 10px;
    background: transparent;
    border: 3px solid #504741;
    border-radius: 10px;
}
.Input-balão input:focus~label,
.Input-balão input:valid~label{
    top: 0;
    font-size: 15px ;
    background-color: #504741;
    color: aliceblue;
}

main > .Previa{
    background-color: rgb(255, 0, 0);

    width: 39dvw;
    height: 58dvh;
    margin: 1%;

    border-radius: 30px;

    position: fixed;
    top: 32%;
    left: 57%;
}

main > .Dados{
    background-color: rgb(0, 97, 182);
    
    width: 39dvw;
    height: 17dvh;
    margin: 1%;
    border-radius: 30px;
    display: block;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 13%;
    left: 57%;
}
.Dados > .d4{
    margin: 5px;
    padding: 0px 10px;
    position: relative;
    


    
}